*.o
*.a
*.la
*.so
.project
.cproject
.deps
test/Makefile
test/autom4te.cache/
test/compile
test/config.log
test/config.status
test/test
test/test-suite.log
test/test.cxx
test/test.log
test/test.trs
test/Makefile.in
.ptp-sync
.ptp-sync-folder
.settings
